@use '../partials/importer' as *;
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Lato';
    color: rgb(138, 136, 136);
    font-weight: 400;
    font-size: 20px;
}
*/
/* img{
    width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
}
a, a:hover {
    text-decoration: none;
    cursor: pointer;
}  */
/* hr.yellow{
    background: $gold;
    height: 5px;
    border: none;
} */
main{
    background: black;
}