@use "partials/importer" as *;
.block-views-blockmovie-grid-block-1 {
 /*  padding: 0 20px; */
  .view-id-movie_grid {
    .view-content {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      /* gap: 10px; */
     > div:nth-child(n + 1):nth-child(-n + 3) {
      /* width: calc((100% - 20px) / 3); */
      flex:1 0 33%;
    }
    
    > div:nth-child(n + 4):nth-child(-n + 5) {
      /* width: calc((100% - 10px) / 2); */
      flex:1 0 50%;
    }
    
    > div:nth-child(n + 6):nth-child(-n + 9) {
     /*  width: calc((100% - 30px) / 4); */
     flex:1 0 25%;
    }
      .views-row {
        position: relative;
        .views-field-nothing {
          padding: 10px;
          .field-content {
            position: relative;
            display: block;
            .movie-grid-item {
              position: absolute;
              z-index: 1;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-start;
              padding: 10px;
              background-color: rgba(0, 0, 0, 0.5);
              &:hover {
                background-color: rgba(90, 0, 40, 0.7);
                & .movie-grid-item__date {
                  display: block;
                }
              }
              &__title {
                a {
                  font-size: 50px;
                  color: white;
                  text-decoration: none;
                }
              }
              &__date {
                font-size: 30px;
                color: white;
                display: none;
              }
              &__desc {
                display: none;
              }
              &__image{
                img{
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
        /*      .views-field-nothing-1{
                    display: none;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.5);
                    z-index: 2;
                    width: 100vw;
                    height: 100vh;
                    .field-content{
                        display: block;
                        .popup{
                            display: flex;
                            &-close{
                                position: absolute;
                                color: white;
                                top: 0;
                                right: 0;
                            }
                        }
                    }
                } */
      }
    }
  }
}
