$primaryWhite: #fff;
$primaryBlack: #000;
$backgroundOverlayColor: rgba(0, 0, 0, 0.7);
$boxShadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
$modalWidth: 80%;
$modalPadding: 20px;
$modalBorderRadius: 5px;
$modalImageWidth: 45%;
$modalCloseButtonSize: 28px;
$modalTextColor: #aaa;
$modalCloseButtonHoverColor: black;
$modalCloseButtonTop: 0%;
$modalCloseButtonRight: 1%;
$modalTextWidth: 45%;
$overlayHoverColor: rgba(90, 0, 40, 0.7);
